# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

common --@score_baselibs//score/json:base_library=nlohmann
common --@score_baselibs//score/memory/shared/flags:use_typedshmd=False
common --@score_logging//score/mw/log/flags:KRemote_Logging=False
common --//score/mw/com/flags:tracing_library=@score_baselibs//score/analysis/tracing/generic_trace_library/stub_implementation
# Replacing
# common --extra_toolchains=@gcc_toolchain_x86_64//:cc_toolchain
# by
common --extra_toolchains=@score_gcc_x86_64_toolchain//:x86_64-linux
# Without this setting the normal host compiler will be used unless 
# --extra_toolchains is given in the command line. Alternative:
# register_toolchain in MODULE.bazel

# score_toolchains rust brings a couple of rust toolchains, even for
# xo6_64. To make sure that the ferrocene x86_64 is selected, this setting is needed.
common --extra_toolchains=@score_toolchains_rust//toolchains/ferrocene:ferrocene_x86_64_unknown_linux_gnu

build --incompatible_strict_action_env
test --test_output=errors
build --experimental_retain_test_configuration_across_testonly #https://github.com/bazelbuild/bazel/issues/6842

common:linux_x86_64_score_gcc_12_2_0_posix --platforms=@score_bazel_platforms//:x86_64-linux-gcc_12.2.0-posix
common:linux_x86_64_score_gcc_12_2_0_posix --extra_toolchains=@score_gcc_x86_64_toolchain//:x86_64-linux
common:linux_aarch64_score_gcc_12_2_0_posix --platforms=@score_bazel_platforms//:aarch64-linux-gcc_12.2.0-posix
common:linux_aarch64_score_gcc_12_2_0_posix --extra_toolchains=@score_gcc_aarch64_toolchain//:aarch64-linux-gcc_12.2.0

# shorter names without gcc. Platform spec also used for Rust builds
common:linux_x86_64 --platforms=@score_bazel_platforms//:x86_64-linux-gcc_12.2.0-posix
common:linux_x86_64 --extra_toolchains=@score_gcc_x86_64_toolchain//:x86_64-linux
common:lin_aarch64 --platforms=@score_bazel_platforms//:aarch64-linux-gcc_12.2.0-posix
common:lin_aarch64 --extra_toolchains=@score_gcc_aarch64_toolchain//:aarch64-linux-gcc_12.2.0

# In order to build for QNX, you need:
# * An account on qnx.com
# * An assigned QNX 8 license to your account
#   * If you are applicable for "Free for non commercial use" see here: https://www.qnx.com/products/everywhere/
# * The credentials for this account stored in your ~/.netrc (machine qnx.com)
# * A license stored under `/opt/score_qnx/license/licenses`
common:qnx_x86_64 --credential_helper_timeout="60s" # QNX credential helper can be slow
common:qnx_x86_64 --platforms=@score_bazel_platforms//:x86_64-qnx-sdp_8.0.0-posix
common:qnx_x86_64 --extra_toolchains=@toolchains_qnx_ifs//:ifs_x86_64
common:qnx_x86_64 --extra_toolchains=@score_qcc_x86_64_toolchain//:x86_64-qnx-sdp_8.0.0
common:qnx_x86_64 --extra_toolchains=@score_toolchains_rust//toolchains/ferrocene:ferrocene_x86_64_pc_nto_qnx800
common:qnx_x86_64 --credential_helper=*.qnx.com=%workspace%/third_party/qnx_credential_helper.py
common:qnx_x86_64 --sandbox_writable_path=/var/tmp

common:qnx_arm64 --credential_helper_timeout="60s" # QNX credential helper can be slow
common:qnx_arm64 --platforms=@score_bazel_platforms//:aarch64-qnx-sdp_8.0.0-posix
common:qnx_arm64 --extra_toolchains=@toolchains_qnx_ifs//:ifs_aarch64
common:qnx_arm64 --extra_toolchains=@score_qcc_aarch64_toolchain//:aarch64-qnx-sdp_8.0.0
common:qnx_arm64 --extra_toolchains=@score_toolchains_rust//toolchains/ferrocene:ferrocene_aarch64_unknown_nto_qnx800
common:qnx_arm64 --credential_helper=*.qnx.com=%workspace%/third_party/qnx_credential_helper.py
common:qnx_arm64 --sandbox_writable_path=/var/tmp

# unshare /dev/shm and /tmp
test --sandbox_tmpfs_path=/dev/shm
test --sandbox_tmpfs_path=/tmp

# Tests require to be run in a sandbox. Otherwise some will be flaky.
test --nosandbox_default_allow_network

common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/refs/heads/main/
common --registry=https://bcr.bazel.build

# With this instrumentation filter for our two main components, we ensure that `bazel coverage //...` is yielding the correct results
coverage --instrumentation_filter="^//score/message_passing[/:],^//score/mw/com[/:],-//score/mw/com/performance_benchmarks[/:],-//score/mw/.*/test[/:]".
coverage --experimental_generate_llvm_lcov
coverage --experimental_use_llvm_covmap
coverage --combined_report=lcov
coverage --coverage_report_generator=@bazel_tools//tools/test/CoverageOutputGenerator/java/com/google/devtools/coverageoutputgenerator:Main
coverage --extra_toolchains=@llvm_toolchain//:cc-toolchain-x86_64-linux
coverage --extra_toolchains=@ferrocene_x86_64_unknown_linux_gnu_llvm//:rust_ferrocene_toolchain
coverage --test_env=COVERAGE_GCOV_OPTIONS=-bcu
# TODO set toolchain feature once possible
# These compile time options are required to cover abnormal termination cases. In GCC one can use `__gcc_dump()`, but this does not work with LLVM
# LLVM provided these compile-time options in combination with a specific profile setting which is enabled in bazel via `LLVM_PROFILE_CONTINUOUS_MODE`
coverage --test_env=LLVM_PROFILE_CONTINUOUS_MODE=1
coverage --cxxopt -mllvm
coverage --cxxopt -runtime-counter-relocation

# Clang-tidy configuration
# Run clang-tidy on all C++ targets with: bazel test --config=clang-tidy //...
test:clang-tidy --aspects=//:tools/lint/linters.bzl%clang_tidy_aspect
test:clang-tidy --output_groups=+rules_lint_report
# Use LLVM toolchain for clang-tidy so it can find system headers
test:clang-tidy --extra_toolchains=@llvm_toolchain//:cc-toolchain-x86_64-linux
test:clang-tidy --extra_toolchains=@ferrocene_x86_64_unknown_linux_gnu_llvm//:rust_ferrocene_toolchain

import quality/sanitizer/sanitizer.bazelrc

common:codeql --platform_suffix=codeql
common:codeql --extra_toolchains=@llvm_toolchain//:cc-toolchain-x86_64-linux
common:codeql --sandbox_writable_path=/var/tmp
common:codeql --nouse_action_cache
common:codeql --noremote_accept_cached
common:codeql --noremote_upload_local_results
common:codeql --disk_cache=

# Use native sphinx_build_binary instead of the wrapper
build --//score/mw/com/doc/sphinx/utils:use_native_sphinx_build
